*{
    -alternative-color: #DB22DF;
    -bottom-bar-color: #474040;
    -left-bar-color: #0D0C0C;
}
.main-window-class{
    -fx-background-color:black;
    /*-fx-border-color: -alternative-color;*/
}
.bottom-bar-class{
    -fx-background-color: -bottom-bar-color;
}
.top-bar-class{
    -fx-border-width: 0 0 0.25 0;
    -fx-border-color: white;
}

.left-bar-class{
    -fx-background-color: -left-bar-color;
}